<div class="card">
    <div class="card-content">
        <div class="content">
             <div class="notification is-success">
                ফর্মটি সঠিক ভাবে পূরণ
             </div>
            <div class="columns">
                <div class="column is-one-third">{{ ticket.tid }}</div>
            </div>
            <div class="columns">
                <div class="column is-one-third">{{ ticket.name }}</div>
            </div>
            <div class="columns">
                <div class="column is-one-third">{{ ticket.email }}</div>
            </div>
            <div class="columns">
                <div class="column is-one-third">{{ ticket.phone }}</div>
            </div>
        </div>
    </div>
</div>